.text-type {
    display: inline-block;
    white-space: pre-wrap;
    font-weight: 900;
    margin-bottom: 53px;
  }
  
  .text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
  }
  
  .text-type__cursor--hidden {
    display: none;
  }
  